.navbar {
  background-color: #f7f7f7;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: black;
}

/* .nav-link.active:hover {
  background-color: rgb(13, 110, 253) !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26 !important;
} */

.active-nav {
  margin-left: 0;
}

.logout__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: rgb(13, 110, 253) !important;
  border-radius: 7px;
}
